<!-- NAVIGATION -->
<div data-bs-theme="">
    <app-sidebar></app-sidebar>
</div>
<!-- MAIN CONTENT -->
<div class="main-content">
    <app-topbar></app-topbar>

    <!-- HEADER -->
    <div class="header">
        <div class="container-fluid">

            <!-- Body -->
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">

                        <!-- Pretitle -->
                        <h6 class="header-pretitle">
                            Visión general
                        </h6>

                        <!-- Title -->
                        <h1 class="header-title">
                            Dashboard
                        </h1>

                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .header-body -->

        </div>
    </div> <!-- / .header -->